Repository Ryang20718/cflag: changes, and which Codecov flags are due for each by the changed paths.
All: onboard_av_binary, torchscript_input_files

decrease cov
  .codecov.yml
  .github/workflows/ci.yml
  non_example/example.py
  torchscript_input_files_coverage.dat
Due: torchscript_input_files

test invalid file
  .github/workflows/ci.yml
Due: none

test empty upload
  .codecov.yml
  .github/workflows/ci.yml
Due: none

dec
  .codecov.yml
  .github/workflows/ci.yml
  non_example/example.py
  torchscript_input_files_coverage.dat
Due: torchscript_input_files

test skip ci
  .codecov.yml
  .github/workflows/ci.yml
Due: none

add a lot of code
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

decrease coverage by 0.08%
  .codecov.yml
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

change 1 line to no coverage and remove 2 lines
  .codecov.yml
  example/implementation.py
  non_example/example.py
  onboard_av_binary_coverage.dat
  torchscript_input_files_coverage.dat
Due: onboard_av_binary, torchscript_input_files

add failing
  non_example/example.py
  torchscript_input_files_coverage.dat
Due: torchscript_input_files

fail status check
  .codecov.yml-e
  .codecovpass.yml
  .github/workflows/ci.yml
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

test
  .codecov.yml-e
  .codecovpass.yml
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

test threshold set to 100
  .github/workflows/ci.yml
Due: none

add codecovpass test cached
  .github/codecov.yml
  .github/workflows/ci.yml
  _.codecov.yml
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

add repo level .codecov.yml
  .github/codecov.yml
  .github/workflows/ci.yml
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

pass status checks
  .codecov.yml
  .github/workflows/ci.yml
  _.codecov.yml
Due: none

empty upload
  .github/workflows/ci.yml
Due: none

fetch coverage results
  .github/workflows/ci.yml
Due: none

codecov/project
  .github/workflows/ci.yml
Due: none

decrease
  example/implementation.py
  non_example/example.py
  onboard_av_binary_coverage.dat
  torchscript_input_files_coverage.dat
Due: onboard_av_binary, torchscript_input_files

add threshold
  .codecov.yml
Due: none

add threshold
  .codecov.yml
  .github/workflows/ci.yml
Due: none

increased test coverage
  .codecov.yml
  example/implementation.py
  non_example/example.py
  onboard_av_binary_coverage.dat
  torchscript_input_files_coverage.dat
Due: onboard_av_binary, torchscript_input_files

first upload torchscript input files
  .codecov.yml
  .github/workflows/ci.yml
Due: none

add faulty data
  torchscript_input_files_coverage.dat
Due: none

empty upload
  .github/workflows/ci.yml
  example/example.rs
Due: none

test
  .codecov.yml
  non_example/example.py
  torchscript_input_files_coverage.dat
Due: torchscript_input_files

test upload
  .github/workflows/ci.yml
  .github/workflows/download/action.yml
  .github/workflows/download/download.py
  .github/workflows/download/requirements.txt
Due: none

commit
  .github/actions/download/action.yml
  .github/actions/download/download.py
  .github/actions/download/requirements.txt
  .github/workflows/ci.yml
Due: none

update commit sha
  .github/actions/download/action.yml
Due: none

upload v4
  .github/workflows/ci.yml
Due: none

download v4
  .github/actions/download/action.yml
  .github/actions/download/download.py
  .github/workflows/ci.yml
  codecov.sh
Due: none

old
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

old
  .github/workflows/ci.yml
  example/implementation.py
  onboard_av_binary_coverage.dat
Due: onboard_av_binary

use commit parent
  .github/workflows/ci.yml
Due: none

test merge commit sha with fetch depth 0
  .github/workflows/ci.yml
Due: none

fetch all history
  .github/workflows/ci.yml
Due: none

test
  conflict.txt
Due: onboard_av_binary

modify sha
  .github/workflows/ci.yml
Due: none

Path conditions:
  onboard_av_binary: any of: example/implementation.py, example/implementation_test.py, conflict.txt
  torchscript_input_files: any of: non_example/example.py, non_example/example_test.py
